In [1]:
import pandas as pd

In [2]:
# Demonstrating injestion of different formats
df_csv = pd.read_csv('addiction_population_data.csv')
df_json = pd.read_json('addiction_population_data.json')
df_txt = pd.read_csv('addiction_population_data.txt', sep='\t')

# Main dataframe to work with
df = df_csv

In [3]:
# Normalizing Columns Names
df.columns = df.columns.str.strip().str.lower()

In [4]:
# Fill missing text data
cols_to_fix = ['education_level', 'social_support', 'therapy_history']
df[cols_to_fix] = df[cols_to_fix].fillna('Unknown')

In [5]:
print(df.isnull().sum())

id                           0
name                         0
age                          0
gender                       0
country                      0
city                         0
education_level              0
employment_status            0
annual_income_usd            0
marital_status               0
children_count               0
smokes_per_day               0
drinks_per_week              0
age_started_smoking          0
age_started_drinking         0
attempts_to_quit_smoking     0
attempts_to_quit_drinking    0
has_health_issues            0
mental_health_status         0
exercise_frequency           0
diet_quality                 0
sleep_hours                  0
bmi                          0
social_support               0
therapy_history              0
dtype: int64

In [6]:
# View first five rows
print(df.head())

# Statistical summary of all columns (age, annual_income_usd)
print(df.describe())

# Count values for a specific category (e.g., employment_status)
print(df['employment_status'].value_counts())

   id              name  age  gender       country         city  \
0   1     Michael Bates   66   Other         Yemen  Martinmouth
1   2    Brian Thompson   29    Male  Saudi Arabia  Harperhaven
2   3     Steven Little   75    Male          Togo     Chanport
3   4   Michael Mathews   35   Other          Togo   North Cory
4   5  Nicholas Sanchez   38  Female       Morocco   Danielberg

  education_level employment_status  annual_income_usd     marital_status  \
0       Secondary           Student              45595            Married
1         Primary     Self-Employed             145842             Single
2    Postgraduate        Unemployed             162480             Single
3      University        Unemployed              16023  In a relationship
4         College     Self-Employed              62933  In a relationship

   ...  attempts_to_quit_smoking  attempts_to_quit_drinking  \
0  ...                         6                          2
1  ...                         1                          6
2  ...                         9                          9
3  ...                         5                          7
4  ...                         4                          7

   has_health_issues  mental_health_status  exercise_frequency  diet_quality  \
0               True                  Good               Daily       Average
1              False                  Poor              Weekly          Good
2               True                  Good               Never          Good
3              False               Average               Daily          Good
4               True                  Poor              Weekly          Good

   sleep_hours   bmi social_support therapy_history
0          5.6  22.4        Unknown         Current
1          6.7  24.1       Moderate         Unknown
2          6.2  22.2           Weak         Unknown
3          7.2  25.5       Moderate         Current
4          8.5  31.2           Weak            Past

[5 rows x 25 columns]
                id          age  annual_income_usd  children_count  \
count  3000.000000  3000.000000        3000.000000     3000.000000
mean   1500.500000    46.654333       98904.178000        2.453667
std     866.169729    18.740880       57288.035963        1.704354
min       1.000000    15.000000         560.000000        0.000000
25%     750.750000    31.000000       49336.000000        1.000000
50%    1500.500000    47.000000       98616.500000        2.000000
75%    2250.250000    63.000000      148622.750000        4.000000
max    3000.000000    79.000000      199951.000000        5.000000

       smokes_per_day  drinks_per_week  age_started_smoking  \
count     3000.000000      3000.000000          3000.000000
mean        10.034000         5.002333            24.365667
std          3.108386         2.214037             8.707309
min          2.000000         0.000000            10.000000
25%          8.000000         3.000000            17.000000
50%         10.000000         5.000000            24.000000
75%         12.000000         6.000000            32.000000
max         21.000000        14.000000            39.000000

       age_started_drinking  attempts_to_quit_smoking  \
count           3000.000000               3000.000000
mean              24.525333                  4.440333
std                8.679121                  2.835334
min               10.000000                  0.000000
25%               17.000000                  2.000000
50%               25.000000                  4.000000
75%               32.000000                  7.000000
max               39.000000                  9.000000

       attempts_to_quit_drinking  sleep_hours          bmi
count                3000.000000  3000.000000  3000.000000
mean                    4.542000     6.470400    25.170133
std                     2.866992     1.495878     5.013345
min                     0.000000     1.500000     9.100000
25%                     2.000000     5.475000    21.900000
50%                     5.000000     6.500000    25.200000
75%                     7.000000     7.500000    28.400000
max                     9.000000    12.600000    43.900000
employment_status
Self-Employed    634
Unemployed       605
Retired          595
Student          585
Employed         581
Name: count, dtype: int64

In [7]:
df.to_csv('cleaned_addiction_data.csv', index=False)
print("New CSV file saved")

New CSV file saved